.icon {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between icons */
    cursor: pointer;
  }
  
  .icon:hover {
    color: #007bff; 
    font-size: 24px;/* Change color on hover */
  }
  
  .icon:hover svg {
    font-size: 24px; /* Increase font size on hover */
  }